@import "@/shared/styles/fonts";

.input {
  color: var(--base-text-color);
  background-color: var(---background-ui);
  transition: all .3s;
  border: 1px solid gray;
  padding: 8px 12px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  display: block;
  border-radius: 4px;
  &::placeholder{
   font-family: "Quicksand", 'Segoe UI', sans-serif;
  }
  &.error{
   border-color: var(--error-text-color);
  }
}

.input_disabled {
  opacity: 0.7;
}

.input-error{
   &:empty{
      display: none;
   }
   color: var(--error-text-color);
}