@mixin font-face($font-family, $weight, $weightStr, $style) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src:
      url("/fonts/" + $font-family + "-" + $weightStr + ".woff2") format("woff2"),
      url("/fonts/" + $font-family + "-" + $weightStr + ".woff") format("woff");
  }
}

@include font-face("Quicksand", 300, "Light", normal);
@include font-face("Quicksand", 400, "Regular", normal);
@include font-face("Quicksand", 500, "Medium", normal);
@include font-face("Quicksand", 600, "Semibold", normal);
@include font-face("Quicksand", 700, "Bold", normal);